---
http_interactions:
- request:
    method: post
    uri: https://api.forter-secure.com/v2/orders/statusfortertest12345
    body:
      encoding: UTF-8
      string: '{"orderId":"statusfortertest12345","orderType":"WEB","timeSentToForter":1574090964000,"checkoutTime":1574090960,"primaryRecipient":{"personalDetails":{"firstName":"Ben","lastName":"Crouse"},"address":{"address1":"22
        S. 3rd St.","city":"Philadelphia","country":"US","address2":"Second Floor","zip":"19106","region":"PA"},"phone":[{"phone":""}]},"totalAmount":{"amountUSD":"11.00"},"connectionInformation":{"customerIP":"127.0.0.1","userAgent":"Mozilla/5.0
        (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0 Mozilla/5.0
        (Macintosh; Intel Mac OS X x.y; rv:42.0) Gecko/20100101 Firefox/42.0.","forterTokenCookie":"123ABC"},"primaryDeliveryDetails":{"deliveryType":"PHYSICAL","deliveryMethod":"Test
        0","deliveryPrice":{"amountUSD":"1.00"},"carrier":null},"cartItems":[{"basicItemData":{"name":"Test
        Product","quantity":2,"type":"TANGIBLE","price":{"amountUSD":"10.00"},"productId":"BE6FEF44CE"}}],"payment":[{"creditCard":{"bin":"411111","lastFourDigits":"1111","expirationMonth":"01","expirationYear":"2020","cardBrand":"Visa","nameOnCard":"Ben
        Crouse","paymentGatewayData":{"gatewayName":"not specified","gatewayTransactionId":"53433"},"verificationResults":{"avsFullResult":"","cvvResult":"","authorizationCode":"53433","processorResponseText":"Bogus
        Gateway: Forced success","processorResponseCode":""}},"billingDetails":{"personalDetails":{"firstName":"Ben","lastName":"Crouse"},"address":{"address1":"12
        N. 3rd St.","address2":"thrid floor","city":"Philadelphia","country":"US","zip":"19106","region":"PA"},"phone":[{"phone":""}]},"amount":{"amountUSD":"11.00"}}],"accountOwner":{"firstName":"Ben","lastName":"Crouse","email":"approve@forter.com"},"totalDiscount":null}'
    headers:
      Content-Type:
      - application/json
      X-Forter-Siteid:
      - 4d12ac5d794c
      Api-Version:
      - '2.3'
      Authorization:
      - Basic ODZmMjFiZWU3ZTNiMmU1MWY2YTk5NmIxZTYxNTFmOTA4ZDY1ZWQ0Zjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"ba-Ef/isk7mEOWPRXN9i4trCjru7vk"
    body:
      encoding: UTF-8
      string: '{"status":"success","transaction":"statusfortertest12345","action":"approve","message":"
        | Link in portal: https://portal.forter.com/dashboard/statusfortertest12345","reasonCode":"Test"}'
  recorded_at: Mon, 18 Nov 2019 15:29:28 GMT
[...]
- request:
    method: put
    uri: https://api.forter-secure.com/v2/status/statusfortertest12345
    body:
      encoding: UTF-8
      string: '{"orderId":"statusfortertest12345","eventTime":1574090977000,"updatedStatus":"CANCELED_BY_MERCHANT"}'
    headers:
      Content-Type:
      - application/json
      X-Forter-Siteid:
      - 4d12ac5d794c
      Api-Version:
      - '2.2'
      Authorization:
      - Basic ODZmMjFiZWU3ZTNiMmU1MWY2YTk5NmIxZTYxNTFmOTA4ZDY1ZWQ0Zjo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Surrogate-Control:
      - no-store
      Etag:
      - W/"53-bIIPJPDkazv+tEVJKCKU0pv7x9A"
    body:
      encoding: UTF-8
      string: '{"status":"success","message":"Transaction #statusfortertest12345 status
        recieved"}'
  recorded_at: Mon, 18 Nov 2019 15:29:38 GMT
recorded_with: VCR 2.9.3
