---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"0","reference":null,"currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"card","name":"Ben
        Crouse","number":"4242424242424242","cvv":100,"expiry_year":"2020","expiry_month":"01"},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_fgnnndfiyquunaubppr3jxfofq
      Product:
      - Gateway
      Cko-Version:
      - 3.31.11
      Cko-Request-Id:
      - 510824d8-13d6-4fcf-b3f8-85aacafede04
    body:
      encoding: UTF-8
      string: '{"id":"pay_fgnnndfiyquunaubppr3jxfofq","action_id":"act_fgnnndfiyquunaubppr3jxfofq","amount":0,"currency":"USD","approved":true,"status":"Card
        Verified","auth_code":"085870","eci":"05","scheme_id":"638500575273231","response_code":"10000","response_summary":"Approved","risk":{"flagged":false},"source":{"id":"src_22walxx34p4utlilnus4rlm4l4","type":"card","expiry_month":1,"expiry_year":2020,"name":"Ben
        Crouse","scheme":"Visa","last4":"4242","fingerprint":"A24ADA27CDDFF03B3607A0E4EA30E189F84B198ABDB346E39C3619982E7474AD","bin":"424242","card_type":"Credit","card_category":"Consumer","issuer":"JPMORGAN
        CHASE BANK NA","issuer_country":"US","product_id":"A","product_type":"Visa
        Traditional","avs_check":"S","cvv_check":"Y"},"customer":{"id":"cus_pc5upvoxfcte5fvqushqkksf7i","email":"user@workarea.com","name":"Ben
        Crouse"},"processed_on":"2019-09-10T18:10:46Z","processing":{"acquirer_transaction_id":"1434678100","retrieval_reference_number":"221719408493"},"_links":{"self":{"href":"https://api.sandbox.checkout.com/payments/pay_fgnnndfiyquunaubppr3jxfofq"},"actions":{"href":"https://api.sandbox.checkout.com/payments/pay_fgnnndfiyquunaubppr3jxfofq/actions"}}}'
  recorded_at: Tue, 10 Sep 2019 18:10:46 GMT
- request:
    method: post
    uri: https://api.sandbox.checkout.com/payments
    body:
      encoding: UTF-8
      string: '{"capture":false,"amount":"500","reference":"2B2EFCF4F1","currency":"USD","metadata":{"udf5":"ActiveMerchant"},"source":{"type":"id","id":"src_22walxx34p4utlilnus4rlm4l4","billing_address":{"address_line1":"22
        s. 3rd st.","city":"Philadelphia","state":"PA","country":"US","zip":"19106"}},"customer":{"email":"user@workarea.com"}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - sk_test_f4c1d728-928c-4381-bc6b-03c0888fb877
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.sandbox.checkout.com/payments/pay_z4mhqgzybogudjb4x4jo6tf6ha
      Product:
      - Gateway
      Cko-Version:
      - 3.31.11
  [...]
